<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://testdm113.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>testdm113.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>testDM113</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$testDM113</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ProductsModel" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:dm113serverdb.database.windows.net,1433;Initial Catalog=myDbDm113;User ID=dm113adm;Password=ADM123Far" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProductsEntityModel.ProductsModel, ProductsEntityModel" MigrationConfiguration="ProductsEntityModel.Migrations.Configuration, ProductsEntityModel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ProductsModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dm113serverdb.database.windows.net,1433;Initial Catalog=myDbDm113;User ID=dm113adm;Password=ADM123Far</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>